/* stylelint-disable unit-disallowed-list */

body {
  /* Primary */
  --kf-color-primary-100: #eef5ff;
  --kf-color-primary-200: #deeaff;
  --kf-color-primary-300: #acccff;
  --kf-color-primary-400: #69a3ff;
  --kf-color-primary-500: #0565ff;
  --kf-color-primary-600: #003c9c;
  --kf-color-primary-700: #002157;
  --kf-color-primary-800: #000711;

  /* Secondary one */
  --kf-color-secondary-one-100: #f2f9f2;
  --kf-color-secondary-one-200: #d9eed8;
  --kf-color-secondary-one-300: #c0e3bf;
  --kf-color-secondary-one-400: #8dcc8b;
  --kf-color-secondary-one-500: #4aa147;
  --kf-color-secondary-one-600: #2c612b;
  --kf-color-secondary-one-700: #193618;
  --kf-color-secondary-one-800: #050b05;

  /* Secondary two */
  --kf-color-secondary-two-100: #fcf2f9;
  --kf-color-secondary-two-200: #f6d9ed;
  --kf-color-secondary-two-300: #f0c0e1;
  --kf-color-secondary-two-400: #e58dc9;
  --kf-color-secondary-two-500: #d341a5;
  --kf-color-secondary-two-600: #861f66;
  --kf-color-secondary-two-700: #4b1139;
  --kf-color-secondary-two-800: #0f030b;

  /* Secondary three */
  --kf-color-secondary-three-100: #fefaee;
  --kf-color-secondary-three-200: #fdf0cc;
  --kf-color-secondary-three-300: #fce7ab;
  --kf-color-secondary-three-400: #f9d367;
  --kf-color-secondary-three-500: #eeb209;
  --kf-color-secondary-three-600: #8f6b05;
  --kf-color-secondary-three-700: #4f3b03;
  --kf-color-secondary-three-800: #100c01;

  /* Secondary four */
  --kf-color-secondary-four-100: #fdf3f2;
  --kf-color-secondary-four-200: #f9dad9;
  --kf-color-secondary-four-300: #f4c1bf;
  --kf-color-secondary-four-400: #ec8f8c;
  --kf-color-secondary-four-500: #df4440;
  --kf-color-secondary-four-600: #931c19;
  --kf-color-secondary-four-700: #520f0e;
  --kf-color-secondary-four-800: #100303;

  /* Secondary five */
  --kf-color-secondary-five-100: #fef7f0;
  --kf-color-secondary-five-200: #fde6d2;
  --kf-color-secondary-five-300: #fcd5b5;
  --kf-color-secondary-five-400: #f9b479;
  --kf-color-secondary-five-500: #f58220;
  --kf-color-secondary-five-600: #9f4d07;
  --kf-color-secondary-five-700: #582b04;
  --kf-color-secondary-five-800: #120901;

  /* Secondary six */
  --kf-color-secondary-six-100: #f5f5fd;
  --kf-color-secondary-six-200: #e2e2f8;
  --kf-color-secondary-six-300: #cfcff3;
  --kf-color-secondary-six-400: #a8a8e9;
  --kf-color-secondary-six-500: #6e6edb;
  --kf-color-secondary-six-600: #27279e;
  --kf-color-secondary-six-700: #161658;
  --kf-color-secondary-six-800: #040412;

  /* Secondary seven */
  --kf-color-secondary-seven-100: #ecfdff;
  --kf-color-secondary-seven-200: #c5fafe;
  --kf-color-secondary-seven-300: #9ef7fd;
  --kf-color-secondary-seven-400: #50f0fb;
  --kf-color-secondary-seven-500: #05c2cf;
  --kf-color-secondary-seven-600: #03747c;
  --kf-color-secondary-seven-700: #024145;
  --kf-color-secondary-seven-800: #000d0e;

  /* Secondary eight */
  --kf-color-secondary-eight-100: #eefafe;
  --kf-color-secondary-eight-200: #cbefff;
  --kf-color-secondary-eight-300: #a8e5ff;
  --kf-color-secondary-eight-400: #63d0fd;
  --kf-color-secondary-eight-500: #03adf3;
  --kf-color-secondary-eight-600: #026892;
  --kf-color-secondary-eight-700: #013a51;
  --kf-color-secondary-eight-800: #000c10;

  /* Secondary nine */
  --kf-color-secondary-nine-100: #fff4f5;
  --kf-color-secondary-nine-200: #ffdfde;
  --kf-color-secondary-nine-300: #ffcacb;
  --kf-color-secondary-nine-400: #ffa0a0;
  --kf-color-secondary-nine-500: #ff6060;
  --kf-color-secondary-nine-600: #d30000;
  --kf-color-secondary-nine-700: #750000;
  --kf-color-secondary-nine-800: #170000;

  /* Secondary ten */
  --kf-color-secondary-ten-100: #fff5ec;
  --kf-color-secondary-ten-200: #fee0c3;
  --kf-color-secondary-ten-300: #fecc9d;
  --kf-color-secondary-ten-400: #fca34d;
  --kf-color-secondary-ten-500: #ce6603;
  --kf-color-secondary-ten-600: #7c3d02;
  --kf-color-secondary-ten-700: #452201;
  --kf-color-secondary-ten-800: #0e0700;

  /* Semantic colors */
  --kf-color-success-100: #f2f9f2;
  --kf-color-success-200: #d9eed8;
  --kf-color-success-300: #c0e3bf;
  --kf-color-success-400: #8dcc8b;
  --kf-color-success-500: #4aa147;
  --kf-color-success-600: #2c612b;
  --kf-color-success-700: #193618;
  --kf-color-success-800: #050b05;

  --kf-color-error-100: #fdf3f2;
  --kf-color-error-200: #f9dad9;
  --kf-color-error-300: #f4c1bf;
  --kf-color-error-400: #ec8f8c;
  --kf-color-error-500: #df4440;
  --kf-color-error-600: #931c19;
  --kf-color-error-700: #520f0e;
  --kf-color-error-800: #100303;

  --kf-color-warning-100: #fefaee;
  --kf-color-warning-200: #fdf0cc;
  --kf-color-warning-300: #fce7ab;
  --kf-color-warning-400: #f9d367;
  --kf-color-warning-500: #eeb209;
  --kf-color-warning-600: #8f6b05;
  --kf-color-warning-700: #4f3b03;
  --kf-color-warning-800: #100c01;

  --kf-color-info-100: #eef5ff;
  --kf-color-info-200: #deeaff;
  --kf-color-info-300: #acccff;
  --kf-color-info-400: #69a3ff;
  --kf-color-info-500: #0565ff;
  --kf-color-info-600: #003c9c;
  --kf-color-info-700: #002157;
  --kf-color-info-800: #000711;

  /* Common colors */
  --kf-color-white: #ffffff;
  --kf-color-white-inverse: #ffffff;
  --kf-color-black: #000000;
  --kf-color-white-alpha-75: rgba(255, 255, 255, 0.75);
  --kf-color-white-alpha-50: rgba(255, 255, 255, 0.5);
  --kf-color-white-alpha-25: rgba(255, 255, 255, 0.25);
  --kf-color-white-alpha-20: rgba(255, 255, 255, 0.2);
  --kf-color-white-alpha-10: rgba(255, 255, 255, 0.1);
  --kf-color-transparent: transparent;

  /* Page background colors */
  --kf-color-bg-white: #ffffff;
  --kf-color-bg-overlay-white: #ffffff;
  --kf-color-bg-gray: #f5f7fa;
  --kf-color-bg-black: #000000;

  --kf-color-overlay-gray: rgba(21, 22, 23, 0.8);
  --kf-color-overlay-gray-50: rgba(21, 22, 23, 0.5);
  --kf-color-overlay-gray-75: rgba(255, 255, 255, 0.75);

  --kf-color-gray-100: #f7f8fa;
  --kf-color-gray-200: #f0f3f7;
  --kf-color-gray-300: #d8dce5;
  --kf-color-gray-400: #afb7c7;
  --kf-color-gray-500: #8b95a9;
  --kf-color-gray-600: #717d91;
  --kf-color-gray-700: #545c6b;
  --kf-color-gray-800: #454a52;
  --kf-color-gray-900: #292b2f;
  --kf-color-gray-999: #151617;

  --kf-color-gray-alpha-25: rgba(175, 183, 199, 0.25); /* Gray 400 */
  --kf-color-gray-alpha-50: rgba(175, 183, 199, 0.5); /* Gray 400 */
  --kf-color-gray-alpha-75: rgba(175, 183, 199, 0.75); /* Gray 400 */


  /* Shadows */
  --kf-color-shadow: rgba(41, 43, 47, 0.16);

  --kf-shadow-100-pos: 0 1px 4px 0;
  --kf-shadow-200-pos: 0 2px 6px 0;
  --kf-shadow-300-pos: 0 2px 12px 0;
  --kf-shadow-500-pos: 0 2px 16px 0;

  --kf-shadow-100: 0 1px 4px 0 var(--kf-color-shadow);
  --kf-shadow-100-top: 0 -1px 4px 0 var(--kf-color-shadow);
  --kf-shadow-200: 0 2px 6px 0 var(--kf-color-shadow);
  --kf-shadow-300: 0 2px 12px 0 var(--kf-color-shadow);
  --kf-shadow-500: 0 2px 16px 0 var(--kf-color-shadow);

  --green-filter-500: invert(49%) sepia(81%) saturate(351%) hue-rotate(70deg)
    brightness(93%) contrast(87%);
  --magenta-filter-500: invert(46%) sepia(30%) saturate(5520%)
    hue-rotate(293deg) brightness(86%) contrast(92%);
  --yellow-filter-500: invert(89%) sepia(31%) saturate(4871%) hue-rotate(351deg)
    brightness(93%) contrast(101%);
  --orange-filter-500: invert(74%) sepia(49%) saturate(5485%) hue-rotate(346deg)
    brightness(98%) contrast(96%);
  --red-filter-500: invert(49%) sepia(48%) saturate(7449%) hue-rotate(339deg)
    brightness(92%) contrast(91%);
  --purple-filter-500: invert(46%) sepia(39%) saturate(1511%) hue-rotate(210deg)
    brightness(90%) contrast(89%);
  --teal-filter-500: invert(65%) sepia(91%) saturate(2988%) hue-rotate(141deg)
    brightness(97%) contrast(96%);
  --skyblue-filter-500: invert(59%) sepia(70%) saturate(3495%)
    hue-rotate(163deg) brightness(97%) contrast(98%);
  --bittersweet-filter-500: invert(52%) sepia(12%) saturate(7490%)
    hue-rotate(324deg) brightness(105%) contrast(104%);
  --orangebrown-filter-500: invert(41%) sepia(95%) saturate(2674%)
    hue-rotate(15deg) brightness(95%) contrast(98%);
  --icon-dark-filter: invert(39%) sepia(7%) saturate(569%) hue-rotate(185deg)
    brightness(97%) contrast(88%);
  --gray-filter-500: invert(56%) sepia(31%) saturate(250%) hue-rotate(175deg)
    brightness(95%) contrast(96%);

  --kf-left-nav-bg-color: rgb(41, 49, 63);

  /* Ai gradients */
  --ai-gradient-100: linear-gradient(265deg, #fcf2f9 0%, #f5f5fd 100%);
  --ai-gradient-200: linear-gradient(265deg, #f6d9ed 0%, #e2e2f8 100%);
  --ai-gradient-300: linear-gradient(265deg, #f0c0e1 0%, #cfcff3 100%);
  --ai-gradient-400: linear-gradient(265deg, #e58dc9 0%, #a8a8e9 100%);
  --ai-gradient-500: linear-gradient(265deg, #d341a5 0%, #6e6edb 100%);
  --ai-gradient-600: linear-gradient(265deg, #861f66 0%, #27279e 100%);
  --ai-gradient-700: linear-gradient(265deg, #4b1139 0%, #161658 100%);
  --ai-gradient-800: linear-gradient(265deg, #0f030b 0%, #040412 100%);
  --ai-gradient-loader: linear-gradient(
    90deg,
    #f2f9f2,
    #e2e2f8,
    #f6d9ed,
    #fde6d2,
    #f2f9f2
  );
  --ai-gradient-border: linear-gradient(to right, #6e6edb, #d341a5);
}

@media screen {
  body.dark {
    /* Primary */
    --kf-color-primary-100: #1b222b;
    --kf-color-primary-200: #202936;
    --kf-color-primary-300: #2b3b56;
    --kf-color-primary-400: #6291e1;
    --kf-color-primary-500: #69a3fe;
    --kf-color-primary-600: #acccfe;
    --kf-color-primary-700: #deeafe;
    --kf-color-primary-800: #eef5fe;

    /* Secondary one */
    --kf-color-secondary-one-100: #1d281d;
    --kf-color-secondary-one-200: #232e23;
    --kf-color-secondary-one-300: #2e482d;
    --kf-color-secondary-one-400: #87af86;
    --kf-color-secondary-one-500: #83be82;
    --kf-color-secondary-one-600: #c8e3c7;
    --kf-color-secondary-one-700: #e6f3e5;
    --kf-color-secondary-one-800: #ebf6eb;

    /* Secondary two */
    --kf-color-secondary-two-100: #2b1b26;
    --kf-color-secondary-two-200: #3c2335;
    --kf-color-secondary-two-300: #562b4a;
    --kf-color-secondary-two-400: #cd78b0;
    --kf-color-secondary-two-500: #df70bb;
    --kf-color-secondary-two-600: #feace5;
    --kf-color-secondary-two-700: #fedef3;
    --kf-color-secondary-two-800: #feeef9;

    /* Secondary three */
    --kf-color-secondary-three-100: #2b271b;
    --kf-color-secondary-three-200: #363120;
    --kf-color-secondary-three-300: #564e2b;
    --kf-color-secondary-three-400: #b5a46e;
    --kf-color-secondary-three-500: #eec568;
    --kf-color-secondary-three-600: #f6eab7;
    --kf-color-secondary-three-700: #ece9da;
    --kf-color-secondary-three-800: #f7f5ec;

    /* Secondary four */
    --kf-color-secondary-four-100: #2b1b1b;
    --kf-color-secondary-four-200: #3c2323;
    --kf-color-secondary-four-300: #562b2b;
    --kf-color-secondary-four-400: #b55555;
    --kf-color-secondary-four-500: #e16060;
    --kf-color-secondary-four-600: #feacac;
    --kf-color-secondary-four-700: #fedede;
    --kf-color-secondary-four-800: #feeeee;

    /* Secondary five */
    --kf-color-secondary-five-100: #2b221b;
    --kf-color-secondary-five-200: #3c2e23;
    --kf-color-secondary-five-300: #563f2b;
    --kf-color-secondary-five-400: #d09f7a;
    --kf-color-secondary-five-500: #e39b5e;
    --kf-color-secondary-five-600: #fed0ac;
    --kf-color-secondary-five-700: #feecde;
    --kf-color-secondary-five-800: #fef5ee;

    /* Secondary six */
    --kf-color-secondary-six-100: #1b1c2b;
    --kf-color-secondary-six-200: #202136;
    --kf-color-secondary-six-300: #2b2e56;
    --kf-color-secondary-six-400: #8886dc;
    --kf-color-secondary-six-500: #8d87ff;
    --kf-color-secondary-six-600: #acadfe;
    --kf-color-secondary-six-700: #dedefe;
    --kf-color-secondary-six-800: #eeeefe;

    /* Secondary seven */
    --kf-color-secondary-seven-100: #00282b;
    --kf-color-secondary-seven-200: #033a3d;
    --kf-color-secondary-seven-300: #025156;
    --kf-color-secondary-seven-400: #009faa;
    --kf-color-secondary-seven-500: #2eced9;
    --kf-color-secondary-seven-600: #82f0f7;
    --kf-color-secondary-seven-700: #c5faff;
    --kf-color-secondary-seven-800: #ecfdfe;

    /* Secondary eight */
    --kf-color-secondary-eight-100: #01242f;
    --kf-color-secondary-eight-200: #033346;
    --kf-color-secondary-eight-300: #015a7e;
    --kf-color-secondary-eight-400: #20a2d7;
    --kf-color-secondary-eight-500: #3db9ec;
    --kf-color-secondary-eight-600: #a8e5fe;
    --kf-color-secondary-eight-700: #cbeffe;
    --kf-color-secondary-eight-800: #eefaff;

    /* Secondary nine */
    --kf-color-secondary-nine-100: #350101;
    --kf-color-secondary-nine-200: #600909;
    --kf-color-secondary-nine-300: #8f1818;
    --kf-color-secondary-nine-400: #a92121;
    --kf-color-secondary-nine-500: #ee6a6a;
    --kf-color-secondary-nine-600: #ffcaca;
    --kf-color-secondary-nine-700: #ffdfdf;
    --kf-color-secondary-nine-800: #fff4f4;

    /* Secondary ten */
    --kf-color-secondary-ten-100: #2b1600;
    --kf-color-secondary-ten-200: #3a1d01;
    --kf-color-secondary-ten-300: #673302;
    --kf-color-secondary-ten-400: #904702;
    --kf-color-secondary-ten-500: #cd7521;
    --kf-color-secondary-ten-600: #fecc9c;
    --kf-color-secondary-ten-700: #fee0c4;
    --kf-color-secondary-ten-800: #fff5eb;

    /* Semantic colors */
    --kf-color-success-100: #1d281d;
    --kf-color-success-200: #232e23;
    --kf-color-success-300: #2e482d;
    --kf-color-success-400: #87af86;
    --kf-color-success-500: #83be82;
    --kf-color-success-600: #c8e3c7;
    --kf-color-success-700: #e6f3e5;
    --kf-color-success-800: #ebf6eb;

    --kf-color-error-100: #2b1b1b;
    --kf-color-error-200: #3c2323;
    --kf-color-error-300: #562b2b;
    --kf-color-error-400: #b55555;
    --kf-color-error-500: #e16060;
    --kf-color-error-600: #feacac;
    --kf-color-error-700: #fedede;
    --kf-color-error-800: #feeeee;

    --kf-color-warning-100: #2b271b;
    --kf-color-warning-200: #363120;
    --kf-color-warning-300: #564e2b;
    --kf-color-warning-400: #b5a46e;
    --kf-color-warning-500: #eec568;
    --kf-color-warning-600: #f6eab7;
    --kf-color-warning-700: #ece9da;
    --kf-color-warning-800: #f7f5ec;

    --kf-color-info-100: #1b222b;
    --kf-color-info-200: #202936;
    --kf-color-info-300: #2b3b56;
    --kf-color-info-400: #6291e1;
    --kf-color-info-500: #69a3fe;
    --kf-color-info-600: #acccfe;
    --kf-color-info-700: #deeafe;
    --kf-color-info-800: #eef5fe;

    /* Common colors */
    --kf-color-white: #1a1d1e;
    --kf-color-white-inverse: #ffffff;
    --kf-color-black: #ffffff;
    /* Need to confirm below alpha */
    --kf-color-white-alpha-75: rgba(255, 255, 255, 0.75);
    --kf-color-white-alpha-50: rgba(255, 255, 255, 0.5);
    --kf-color-white-alpha-25: rgba(255, 255, 255, 0.25);
    --kf-color-white-alpha-20: rgba(255, 255, 255, 0.2);

    /* Page background colors */
    --kf-color-bg-white: #1a1d1e;
    --kf-color-bg-overlay-white: #131415;
    --kf-color-bg-gray: #131415;
    --kf-color-bg-black: #000000;

    --kf-color-gray-100: #191a1b;
    --kf-color-gray-200: #2e3032;
    --kf-color-gray-300: #373a3f;
    --kf-color-gray-400: #4c4f53;
    --kf-color-gray-500: #5b5e63;
    --kf-color-gray-600: #8c8e92;
    --kf-color-gray-700: #999999;
    --kf-color-gray-800: #a6a6a6;
    --kf-color-gray-900: #cbcdcd;
    --kf-color-gray-999: #d6d9d9;

    --kf-color-gray-alpha-75: rgba(175, 183, 199, 0.75);
    --kf-color-gray-alpha-50: rgba(175, 183, 199, 0.5);
    --kf-color-gray-alpha-25: rgba(175, 183, 199, 0.25);

    --kf-color-overlay-gray: rgba(55, 59, 66, 0.9);
    --kf-color-overlay-gray-50: rgba(55, 59, 66, 0.6);
    --kf-color-overlay-gray-75: rgba(30, 32, 36, 0.8);

    /* Shadows */
    --kf-color-shadow: rgba(0, 0, 0, 0.4)

    --green-filter-500: invert(69%) sepia(35%) saturate(374%) hue-rotate(70deg)
      brightness(94%) contrast(90%);
    --magenta-filter-500: invert(71%) sepia(16%) saturate(4107%)
      hue-rotate(284deg) brightness(93%) contrast(87%);
    --yellow-filter-500: invert(83%) sepia(21%) saturate(975%)
      hue-rotate(351deg) brightness(94%) contrast(99%);
    --orange-filter-500: invert(61%) sepia(98%) saturate(260%)
      hue-rotate(342deg) brightness(92%) contrast(93%);
    --red-filter-500: invert(73%) sepia(39%) saturate(6629%) hue-rotate(318deg)
      brightness(89%) contrast(98%);
    --purple-filter-500: invert(56%) sepia(74%) saturate(4107%)
      hue-rotate(219deg) brightness(113%) contrast(101%);
    --teal-filter-500: invert(92%) sepia(20%) saturate(6810%) hue-rotate(139deg)
      brightness(93%) contrast(81%);
    --skyblue-filter-500: invert(59%) sepia(94%) saturate(818%)
      hue-rotate(165deg) brightness(99%) contrast(87%);
    --bittersweet-filter-500: invert(59%) sepia(25%) saturate(1822%)
      hue-rotate(315deg) brightness(94%) contrast(99%);
    --orangebrown-filter-500: invert(64%) sepia(48%) saturate(6940%)
      hue-rotate(5deg) brightness(96%) contrast(74%);
    --icon-dark-filter: invert(71%) sepia(6%) saturate(156%) hue-rotate(202deg)
      brightness(103%) contrast(90%);
    --gray-filter-500: invert(38%) sepia(6%) saturate(380%) hue-rotate(179deg)
      brightness(93%) contrast(93%);

    --kf-left-nav-bg-color: rgb(37, 38, 39);

    /* Ai gradients */
    --ai-gradient-100: linear-gradient(265deg, #2b1b26 0%, #1b1c2b 100%);
    --ai-gradient-200: linear-gradient(265deg, #3c2335 0%, #202136 100%);
    --ai-gradient-300: linear-gradient(265deg, #562b4a 0%, #2b2e56 100%);
    --ai-gradient-400: linear-gradient(265deg, #cd78b0 0%, #8886dc 100%);
    --ai-gradient-500: linear-gradient(265deg, #df70bb 0%, #8d87ff 100%);
    --ai-gradient-600: linear-gradient(265deg, #feace5 0%, #acadfe 100%);
    --ai-gradient-700: linear-gradient(265deg, #fedef3 0%, #dedefe 100%);
    --ai-gradient-800: linear-gradient(265deg, #feeef9 0%, #eeeefe 100%);
    --ai-gradient-loader: linear-gradient(
      90deg,
      #1d281d,
      #202136,
      #3c2335,
      #3c2e23,
      #1d281d
    );
    --ai-gradient-border: linear-gradient(to right, #8d87ff, #df70bb);
  }
}

@media (prefers-color-scheme: dark) {
  body.auto {
    /* Primary */
    --kf-color-primary-100: #1b222b;
    --kf-color-primary-200: #202936;
    --kf-color-primary-300: #2b3b56;
    --kf-color-primary-400: #6291e1;
    --kf-color-primary-500: #69a3fe;
    --kf-color-primary-600: #acccfe;
    --kf-color-primary-700: #deeafe;
    --kf-color-primary-800: #eef5fe;

    /* Secondary one */
    --kf-color-secondary-one-100: #1d281d;
    --kf-color-secondary-one-200: #232e23;
    --kf-color-secondary-one-300: #2e482d;
    --kf-color-secondary-one-400: #87af86;
    --kf-color-secondary-one-500: #83be82;
    --kf-color-secondary-one-600: #c8e3c7;
    --kf-color-secondary-one-700: #e6f3e5;
    --kf-color-secondary-one-800: #ebf6eb;

    /* Secondary two */
    --kf-color-secondary-two-100: #2b1b26;
    --kf-color-secondary-two-200: #3c2335;
    --kf-color-secondary-two-300: #562b4a;
    --kf-color-secondary-two-400: #cd78b0;
    --kf-color-secondary-two-500: #df70bb;
    --kf-color-secondary-two-600: #feace5;
    --kf-color-secondary-two-700: #fedef3;
    --kf-color-secondary-two-800: #feeef9;

    /* Secondary three */
    --kf-color-secondary-three-100: #2b271b;
    --kf-color-secondary-three-200: #363120;
    --kf-color-secondary-three-300: #564e2b;
    --kf-color-secondary-three-400: #b5a46e;
    --kf-color-secondary-three-500: #eec568;
    --kf-color-secondary-three-600: #f6eab7;
    --kf-color-secondary-three-700: #ece9da;
    --kf-color-secondary-three-800: #f7f5ec;

    /* Secondary four */
    --kf-color-secondary-four-100: #2b1b1b;
    --kf-color-secondary-four-200: #3c2323;
    --kf-color-secondary-four-300: #562b2b;
    --kf-color-secondary-four-400: #b55555;
    --kf-color-secondary-four-500: #e16060;
    --kf-color-secondary-four-600: #feacac;
    --kf-color-secondary-four-700: #fedede;
    --kf-color-secondary-four-800: #feeeee;

    /* Secondary five */
    --kf-color-secondary-five-100: #2b221b;
    --kf-color-secondary-five-200: #3c2e23;
    --kf-color-secondary-five-300: #563f2b;
    --kf-color-secondary-five-400: #d09f7a;
    --kf-color-secondary-five-500: #e39b5e;
    --kf-color-secondary-five-600: #fed0ac;
    --kf-color-secondary-five-700: #feecde;
    --kf-color-secondary-five-800: #fef5ee;

    /* Secondary six */
    --kf-color-secondary-six-100: #1b1c2b;
    --kf-color-secondary-six-200: #202136;
    --kf-color-secondary-six-300: #2b2e56;
    --kf-color-secondary-six-400: #8886dc;
    --kf-color-secondary-six-500: #8d87ff;
    --kf-color-secondary-six-600: #acadfe;
    --kf-color-secondary-six-700: #dedefe;
    --kf-color-secondary-six-800: #eeeefe;

    /* Secondary seven */
    --kf-color-secondary-seven-100: #00282b;
    --kf-color-secondary-seven-200: #033a3d;
    --kf-color-secondary-seven-300: #025156;
    --kf-color-secondary-seven-400: #009faa;
    --kf-color-secondary-seven-500: #2eced9;
    --kf-color-secondary-seven-600: #82f0f7;
    --kf-color-secondary-seven-700: #c5faff;
    --kf-color-secondary-seven-800: #ecfdfe;

    /* Secondary eight */
    --kf-color-secondary-eight-100: #01242f;
    --kf-color-secondary-eight-200: #033346;
    --kf-color-secondary-eight-300: #015a7e;
    --kf-color-secondary-eight-400: #20a2d7;
    --kf-color-secondary-eight-500: #3db9ec;
    --kf-color-secondary-eight-600: #a8e5fe;
    --kf-color-secondary-eight-700: #cbeffe;
    --kf-color-secondary-eight-800: #eefaff;

    /* Secondary nine */
    --kf-color-secondary-nine-100: #350101;
    --kf-color-secondary-nine-200: #600909;
    --kf-color-secondary-nine-300: #8f1818;
    --kf-color-secondary-nine-400: #a92121;
    --kf-color-secondary-nine-500: #ee6a6a;
    --kf-color-secondary-nine-600: #ffcaca;
    --kf-color-secondary-nine-700: #ffdfdf;
    --kf-color-secondary-nine-800: #fff4f4;

    /* Secondary ten */
    --kf-color-secondary-ten-100: #2b1600;
    --kf-color-secondary-ten-200: #3a1d01;
    --kf-color-secondary-ten-300: #673302;
    --kf-color-secondary-ten-400: #904702;
    --kf-color-secondary-ten-500: #cd7521;
    --kf-color-secondary-ten-600: #fecc9c;
    --kf-color-secondary-ten-700: #fee0c4;
    --kf-color-secondary-ten-800: #fff5eb;

    /* Semantic colors */
    --kf-color-success-100: #1d281d;
    --kf-color-success-200: #232e23;
    --kf-color-success-300: #2e482d;
    --kf-color-success-400: #87af86;
    --kf-color-success-500: #83be82;
    --kf-color-success-600: #c8e3c7;
    --kf-color-success-700: #e6f3e5;
    --kf-color-success-800: #ebf6eb;

    --kf-color-error-100: #2b1b1b;
    --kf-color-error-200: #3c2323;
    --kf-color-error-300: #562b2b;
    --kf-color-error-400: #b55555;
    --kf-color-error-500: #e16060;
    --kf-color-error-600: #feacac;
    --kf-color-error-700: #fedede;
    --kf-color-error-800: #feeeee;

    --kf-color-warning-100: #2b271b;
    --kf-color-warning-200: #363120;
    --kf-color-warning-300: #564e2b;
    --kf-color-warning-400: #b5a46e;
    --kf-color-warning-500: #eec568;
    --kf-color-warning-600: #f6eab7;
    --kf-color-warning-700: #ece9da;
    --kf-color-warning-800: #f7f5ec;

    --kf-color-info-100: #1b222b;
    --kf-color-info-200: #202936;
    --kf-color-info-300: #2b3b56;
    --kf-color-info-400: #6291e1;
    --kf-color-info-500: #69a3fe;
    --kf-color-info-600: #acccfe;
    --kf-color-info-700: #deeafe;
    --kf-color-info-800: #eef5fe;

    /* Common colors */
    --kf-color-white: #1a1d1e;
    --kf-color-white-inverse: #ffffff;
    --kf-color-black: #ffffff;
    /* Need to confirm below alpha */
    --kf-color-white-alpha-75: rgba(255, 255, 255, 0.75);
    --kf-color-white-alpha-50: rgba(255, 255, 255, 0.5);
    --kf-color-white-alpha-25: rgba(255, 255, 255, 0.25);
    --kf-color-white-alpha-20: rgba(255, 255, 255, 0.2);

    /* Page background colors */
    --kf-color-bg-white: #1a1d1e;
    --kf-color-bg-overlay-white: #131415;
    --kf-color-bg-gray: #131415;
    --kf-color-bg-black: #000000;

    --kf-color-gray-100: #191a1b;
    --kf-color-gray-200: #2e3032;
    --kf-color-gray-300: #373a3f;
    --kf-color-gray-400: #4c4f53;
    --kf-color-gray-500: #5b5e63;
    --kf-color-gray-600: #8c8e92;
    --kf-color-gray-700: #999999;
    --kf-color-gray-800: #a6a6a6;
    --kf-color-gray-900: #cbcdcd;
    --kf-color-gray-999: #d6d9d9;

    --kf-color-gray-alpha-75: rgba(175, 183, 199, 0.75);
    --kf-color-gray-alpha-50: rgba(175, 183, 199, 0.5);
    --kf-color-gray-alpha-25: rgba(175, 183, 199, 0.25);

    --kf-color-overlay-gray: rgba(55, 59, 66, 0.9);
    --kf-color-overlay-gray-50: rgba(55, 59, 66, 0.6);
    --kf-color-overlay-gray-75: rgba(30, 32, 36, 0.8);

    /* Shadows */
    --kf-color-shadow: rgba(0, 0, 0, 0.4);

    --green-filter-500: invert(69%) sepia(35%) saturate(374%) hue-rotate(70deg)
      brightness(94%) contrast(90%);
    --magenta-filter-500: invert(71%) sepia(16%) saturate(4107%)
      hue-rotate(284deg) brightness(93%) contrast(87%);
    --yellow-filter-500: invert(83%) sepia(21%) saturate(975%)
      hue-rotate(351deg) brightness(94%) contrast(99%);
    --orange-filter-500: invert(61%) sepia(98%) saturate(260%)
      hue-rotate(342deg) brightness(92%) contrast(93%);
    --red-filter-500: invert(49%) sepia(48%) saturate(7449%) hue-rotate(339deg)
      brightness(92%) contrast(91%);
    --purple-filter-500: invert(56%) sepia(74%) saturate(4107%)
      hue-rotate(219deg) brightness(113%) contrast(101%);
    --teal-filter-500: invert(92%) sepia(20%) saturate(6810%) hue-rotate(139deg)
      brightness(93%) contrast(81%);
    --skyblue-filter-500: invert(59%) sepia(94%) saturate(818%)
      hue-rotate(165deg) brightness(99%) contrast(87%);
    --bittersweet-filter-500: invert(59%) sepia(25%) saturate(1822%)
      hue-rotate(315deg) brightness(94%) contrast(99%);
    --orangebrown-filter-500: invert(64%) sepia(48%) saturate(6940%)
      hue-rotate(5deg) brightness(96%) contrast(74%);
    --gray-filter-500: invert(40%) sepia(2%) saturate(1528%) hue-rotate(179deg)
      brightness(87%) contrast(88%);

    --kf-left-nav-bg-color: rgb(37, 38, 39);

    /* Ai gradients */
    --ai-gradient-100: linear-gradient(265deg, #2b1b26 0%, #1b1c2b 100%);
    --ai-gradient-200: linear-gradient(265deg, #3c2335 0%, #202136 100%);
    --ai-gradient-300: linear-gradient(265deg, #562b4a 0%, #2b2e56 100%);
    --ai-gradient-400: linear-gradient(265deg, #cd78b0 0%, #8886dc 100%);
    --ai-gradient-500: linear-gradient(265deg, #df70bb 0%, #8d87ff 100%);
    --ai-gradient-600: linear-gradient(265deg, #feace5 0%, #acadfe 100%);
    --ai-gradient-700: linear-gradient(265deg, #fedef3 0%, #dedefe 100%);
    --ai-gradient-800: linear-gradient(265deg, #feeef9 0%, #eeeefe 100%);
    --ai-gradient-loader: linear-gradient(
      90deg,
      #1d281d,
      #202136,
      #3c2335,
      #3c2e23,
      #1d281d
    );
    --ai-gradient-border: linear-gradient(to right, #8d87ff, #df70bb);
  }
}

@media screen {
  body.dim {
    /* Primary */
    --kf-color-primary-100: #1a3665;
    --kf-color-primary-200: #12213a;
    --kf-color-primary-300: #003c9c;
    --kf-color-primary-400: #6da6ff;
    --kf-color-primary-500: #6da6ff;
    --kf-color-primary-600: #acccff;
    --kf-color-primary-700: #deeaff;
    --kf-color-primary-800: #eef5ff;

    /* Secondary one */
    --kf-color-secondary-one-100: #1d281d;
    --kf-color-secondary-one-200: #232e23;
    --kf-color-secondary-one-300: #2e482d;
    --kf-color-secondary-one-400: #87af86;
    --kf-color-secondary-one-500: #83be82;
    --kf-color-secondary-one-600: #c8e3c7;
    --kf-color-secondary-one-700: #e6f3e5;
    --kf-color-secondary-one-800: #ebf6eb;

    /* Secondary two */
    --kf-color-secondary-two-100: #2b1b26;
    --kf-color-secondary-two-200: #3c2335;
    --kf-color-secondary-two-300: #562b4a;
    --kf-color-secondary-two-400: #cd78b0;
    --kf-color-secondary-two-500: #df70bb;
    --kf-color-secondary-two-600: #feace5;
    --kf-color-secondary-two-700: #fedef3;
    --kf-color-secondary-two-800: #feeef9;

    /* Secondary three */
    --kf-color-secondary-three-100: #2b271b;
    --kf-color-secondary-three-200: #363120;
    --kf-color-secondary-three-300: #564e2b;
    --kf-color-secondary-three-400: #b5a46e;
    --kf-color-secondary-three-500: #eec568;
    --kf-color-secondary-three-600: #f6eab7;
    --kf-color-secondary-three-700: #ece9da;
    --kf-color-secondary-three-800: #f7f5ec;

    /* Secondary four */
    --kf-color-secondary-four-100: #2b1b1b;
    --kf-color-secondary-four-200: #3c2323;
    --kf-color-secondary-four-300: #562b2b;
    --kf-color-secondary-four-400: #b55555;
    --kf-color-secondary-four-500: #e16060;
    --kf-color-secondary-four-600: #feacac;
    --kf-color-secondary-four-700: #fedede;
    --kf-color-secondary-four-800: #feeeee;

    /* Secondary five */
    --kf-color-secondary-five-100: #2b221b;
    --kf-color-secondary-five-200: #3c2e23;
    --kf-color-secondary-five-300: #563f2b;
    --kf-color-secondary-five-400: #d09f7a;
    --kf-color-secondary-five-500: #e39b5e;
    --kf-color-secondary-five-600: #fed0ac;
    --kf-color-secondary-five-700: #feecde;
    --kf-color-secondary-five-800: #fef5ee;

    /* Secondary six */
    --kf-color-secondary-six-100: #1b1c2b;
    --kf-color-secondary-six-200: #202136;
    --kf-color-secondary-six-300: #2b2e56;
    --kf-color-secondary-six-400: #8886dc;
    --kf-color-secondary-six-500: #8d87ff;
    --kf-color-secondary-six-600: #acadfe;
    --kf-color-secondary-six-700: #dedefe;
    --kf-color-secondary-six-800: #eeeefe;

    /* Secondary seven */
    --kf-color-secondary-seven-100: #00282b;
    --kf-color-secondary-seven-200: #033a3d;
    --kf-color-secondary-seven-300: #025156;
    --kf-color-secondary-seven-400: #009faa;
    --kf-color-secondary-seven-500: #2eced9;
    --kf-color-secondary-seven-600: #82f0f7;
    --kf-color-secondary-seven-700: #c5faff;
    --kf-color-secondary-seven-800: #ecfdfe;

    /* Secondary eight */
    --kf-color-secondary-eight-100: #01242f;
    --kf-color-secondary-eight-200: #033346;
    --kf-color-secondary-eight-300: #015a7e;
    --kf-color-secondary-eight-400: #20a2d7;
    --kf-color-secondary-eight-500: #3db9ec;
    --kf-color-secondary-eight-600: #a8e5fe;
    --kf-color-secondary-eight-700: #cbeffe;
    --kf-color-secondary-eight-800: #eefaff;

    /* Secondary nine */
    --kf-color-secondary-nine-100: #350101;
    --kf-color-secondary-nine-200: #600909;
    --kf-color-secondary-nine-300: #8f1818;
    --kf-color-secondary-nine-400: #a92121;
    --kf-color-secondary-nine-500: #ee6a6a;
    --kf-color-secondary-nine-600: #ffcaca;
    --kf-color-secondary-nine-700: #ffdfdf;
    --kf-color-secondary-nine-800: #fff4f4;

    /* Secondary ten */
    --kf-color-secondary-ten-100: #2b1600;
    --kf-color-secondary-ten-200: #3a1d01;
    --kf-color-secondary-ten-300: #673302;
    --kf-color-secondary-ten-400: #904702;
    --kf-color-secondary-ten-500: #cd7521;
    --kf-color-secondary-ten-600: #fecc9c;
    --kf-color-secondary-ten-700: #fee0c4;
    --kf-color-secondary-ten-800: #fff5eb;

    /* Semantic color */
    --kf-color-success-100: #1d281d;
    --kf-color-success-200: #232e23;
    --kf-color-success-300: #2e482d;
    --kf-color-success-400: #87af86;
    --kf-color-success-500: #83be82;
    --kf-color-success-600: #c8e3c7;
    --kf-color-success-700: #e6f3e5;
    --kf-color-success-800: #ebf6eb;

    --kf-color-error-100: #2b1b1b;
    --kf-color-error-200: #3c2323;
    --kf-color-error-300: #562b2b;
    --kf-color-error-400: #b55555;
    --kf-color-error-500: #e16060;
    --kf-color-error-600: #feacac;
    --kf-color-error-700: #fedede;
    --kf-color-error-800: #feeeee;

    --kf-color-warning-100: #2b271b;
    --kf-color-warning-200: #363120;
    --kf-color-warning-300: #564e2b;
    --kf-color-warning-400: #b5a46e;
    --kf-color-warning-500: #eec568;
    --kf-color-warning-600: #f6eab7;
    --kf-color-warning-700: #ece9da;
    --kf-color-warning-800: #f7f5ec;

    --kf-color-info-100: #1b1c2b;
    --kf-color-info-200: #202136;
    --kf-color-info-300: #2b2e56;
    --kf-color-info-400: #8886dc;
    --kf-color-info-500: #8d87ff;
    --kf-color-info-600: #acadfe;
    --kf-color-info-700: #dedefe;
    --kf-color-info-800: #eeeefe;

    /* Common colors */
    --kf-color-white: #2b343b;
    --kf-color-white-inverse: #ffffff;
    --kf-color-black: #ffffff;

    --kf-color-bg-white: #2b343b;
    --kf-color-bg-overlay-white: #1e272e;
    --kf-color-bg-gray: #1e272e;
    --kf-color-bg-black: #000000;

    --kf-color-overlay-gray: rgba(0, 0, 0, 0.8);
    --kf-color-overlay-gray-50: rgba(0, 0, 0, 0.6);
    --kf-color-overlay-gray-75: rgba(30, 32, 36, 0.8);

    --kf-color-gray-100: #2e373d;
    --kf-color-gray-200: #3f464c;
    --kf-color-gray-300: #384047;
    --kf-color-gray-400: #4f565b;
    --kf-color-gray-500: #5f656b;
    --kf-color-gray-600: #787d82;
    --kf-color-gray-700: #a5a9ab;
    --kf-color-gray-800: #bbbec0;
    --kf-color-gray-900: #d2d4d5;
    --kf-color-gray-999: #dddfe0;

    --kf-color-gray-alpha-75: rgba(166, 182, 204, 0.75);
    --kf-color-gray-alpha-50: rgba(166, 182, 204, 0.5);
    --kf-color-gray-alpha-25: rgba(166, 182, 204, 0.25);

    /* Shadows */
    --kf-color-shadow: rgba(255, 255, 255, 0.6);

    --kf-shadow-100: 0 0 1px 0 var(--kf-color-shadow);
    --kf-shadow-200: 0 0 1px 0 var(--kf-color-shadow);
    --kf-shadow-300: 0 0 1px 0 var(--kf-color-shadow);
    --kf-shadow-500: 0 0 1px 0 var(--kf-color-shadow);

    --green-filter-500: invert(69%) sepia(35%) saturate(374%) hue-rotate(70deg)
      brightness(94%) contrast(90%);
    --magenta-filter-500: invert(71%) sepia(16%) saturate(4107%)
      hue-rotate(284deg) brightness(93%) contrast(87%);
    --yellow-filter-500: invert(83%) sepia(21%) saturate(975%)
      hue-rotate(351deg) brightness(94%) contrast(99%);
    --orange-filter-500: invert(61%) sepia(98%) saturate(260%)
      hue-rotate(342deg) brightness(92%) contrast(93%);
    --red-filter-500: invert(73%) sepia(39%) saturate(6629%) hue-rotate(318deg)
      brightness(89%) contrast(98%);
    --purple-filter-500: invert(56%) sepia(74%) saturate(4107%)
      hue-rotate(219deg) brightness(113%) contrast(101%);
    --teal-filter-500: invert(92%) sepia(20%) saturate(6810%) hue-rotate(139deg)
      brightness(93%) contrast(81%);
    --skyblue-filter-500: invert(59%) sepia(94%) saturate(818%)
      hue-rotate(165deg) brightness(99%) contrast(87%);
    --bittersweet-filter-500: invert(59%) sepia(25%) saturate(1822%)
      hue-rotate(315deg) brightness(94%) contrast(99%);
    --orangebrown-filter-500: invert(64%) sepia(48%) saturate(6940%)
      hue-rotate(5deg) brightness(96%) contrast(74%);
    --icon-dark-filter: invert(71%) sepia(6%) saturate(156%) hue-rotate(202deg)
      brightness(103%) contrast(90%);
    --gray-filter-500: invert(39%) sepia(5%) saturate(592%) hue-rotate(169deg)
      brightness(98%) contrast(93%);

    --kf-left-nav-bg-color: rgb(52, 63, 77);

    /* Ai gradients */
    --ai-gradient-100: linear-gradient(265deg, #2b1b26 0%, #1b1c2b 100%);
    --ai-gradient-200: linear-gradient(265deg, #3c2335 0%, #202136 100%);
    --ai-gradient-300: linear-gradient(265deg, #562b4a 0%, #2b2e56 100%);
    --ai-gradient-400: linear-gradient(265deg, #cd78b0 0%, #8886dc 100%);
    --ai-gradient-500: linear-gradient(265deg, #df70bb 0%, #8d87ff 100%);
    --ai-gradient-600: linear-gradient(265deg, #feace5 0%, #acadfe 100%);
    --ai-gradient-700: linear-gradient(265deg, #fedef3 0%, #dedefe 100%);
    --ai-gradient-800: linear-gradient(265deg, #feeef9 0%, #eeeefe 100%);
    --ai-gradient-loader: linear-gradient(
      90deg,
      #1d281d,
      #202136,
      #3c2335,
      #3c2e23,
      #1d281d
    );
    --ai-gradient-border: linear-gradient(to right, #8d87ff, #df70bb);
  }
}

@supports (background-color: color-mix(in srgb, red, #2b2b2b 90%)) {
  body {
    --kf-left-nav-bg-color: color-mix(
      in srgb,
      var(--kf-color-primary-500),
      #2b2b2b 90%
    );
  }

  body.dark {
    --kf-left-nav-bg-color: color-mix(
      in srgb,
      var(--kf-color-primary-500),
      #232323 98%
    );
  }

  body.dim {
    --kf-left-nav-bg-color: color-mix(
      in srgb,
      var(--kf-color-primary-500),
      #2b343b 90%
    );
  }

  @media (prefers-color-scheme: dark) {
    body.auto {
      --kf-left-nav-bg-color: color-mix(
        in srgb,
        var(--kf-color-primary-500),
        #232323 98%
      );
    }
  }
}
